.navbar {
	height: 64px;
	width: 100%;
	background: $white;
	color: $black;
	position: fixed;
	top: 0;
	padding: 0 5vw;
	font-weight: bold;
	border-bottom: thin solid $grey;
	box-shadow: $shadow-1;
	z-index: 17;

	ul {
		display: flex;
		align-items: center;
		justify-content: space-evenly;
		height: 100%;
		max-width: 1024px;
		margin: 0 auto;

		li {
			display: flex;
			align-items: center;

			&:first-child {
				margin-right: auto;
			}
			&:not(:first-child):not(:last-child) {
				margin-right: 16px;
			}
		}

		svg {
			cursor: pointer;
			height: 24px;
			width: 24px;
		}
	}

	img {
		border-radius: 50%;
		width: 32px;
		height: 32px;
		cursor: pointer;
	}
}
