.post-card {
	position: relative;
	border-radius: 8px;
	border: thin solid var(--grey);
	padding: 2vh 2vw;
	min-width: 346px;
	width: 80%;
	max-width: 1024px;

	transition: 0.3s ease-in-out;

	&:hover {
		box-shadow: var(--shadow-3);
	}

	&__author {
		color: var(--accent);
	}

	&__hearts {
		position: absolute;
		right: 2vw;
		top: 2vh;
	}

	h3 {
		margin-bottom: 0;
	}
	footer {
		*:first-child {
			font-size: 0.9em;
		}
	}

	&--state {
		position: absolute;
		right: 2vw;
		bottom: 2vh;
		font-size: 0.8em;
		margin: 0;
	}

	&--published {
		color: var(--accent);
	}
	&--unpublished {
		color: var(--error);
	}
}
