.user-profile {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 4vh;

	> div:first-of-type {
		width: 48px;
		height: 48px;
		border-radius: 50%;
		box-shadow: var(--shadow-1);
	}
	&__username {
		color: var(--accent);
	}
	h2 {
		margin: 0.2vh 0;
	}
}
