.button {
	border-radius: 8px;
	padding: 1vh 2vw;
	width: max-content;
	box-shadow: $shadow-3;
	transition: 0.3s ease-in-out;

	&:hover {
		box-shadow: $shadow-low;
	}

	&:disabled {
		cursor: not-allowed;
		cursor: disabled;
		background: $grey;
		border: thin solid $grey;
		color: $white;
		box-shadow: $shadow-low;

		&:hover {
			background: $grey;
			border: thin solid $grey;
			color: $white;
		}
	}

	&__default {
		background: $white;
		border: thin solid $black;
		color: $black;

		&:hover {
			background: $black;
			color: $white;
		}
	}
}
