.button {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	border-radius: 8px;
	padding: 8px 12px;
	width: max-content;
	box-shadow: $shadow-3;
	transition: 0.3s ease-in-out;

	&:active {
		color: $white;
		background: $black;
	}

	&:hover {
		box-shadow: $shadow-low;
	}

	&:disabled {
		cursor: not-allowed;
		cursor: disabled;
		background: $grey;
		border: thin solid $grey;
		color: $white;
		box-shadow: $shadow-low;

		&:hover {
			background: $grey;
			border: thin solid $grey;
			color: $white;
		}
	}

	&--default {
		background: $white;
		border: thin solid $black;
		color: $black;

		&:hover {
			background: $black;
			color: $white;
		}
	}
	&--default-inverted {
		background: $black;
		color: $white;
		border: thin solid $black;

		&:hover {
			background: $white;
			color: $black;
		}
	}
	&--accent {
		border: thin solid $accent;
		color: $accent;

		&:hover {
			background: $accent;
			color: $white;
		}
	}
	&--accent-inverted {
		color: $white;
		background: $accent;
		border: thin solid $accent;

		&:hover {
			background: $white;
			color: $accent;
		}
	}
}

.box {
	max-width: 1024px;
	margin: 0 auto;
}

.input {
	border-bottom: thin solid $black;
}
