// Colors
$primary: #ffed99;
$secondary: #f6b8b8;
$accent: #ac66cc;
$accent-2: #3b14a7;
$white: #fefefe;
$black: #272727;
$grey: #e4e4e4;

// Shadows
$shadow-1: 0px 0px 15px 4px rgba(0, 0, 0, 0.15);
$shadow-2: 0px 2px 4px 4px rgba(0, 0, 0, 0.1);
$shadow-low: 0px 0px 4px 1px rgba(0, 0, 0, 0.5);
