// Colors
$primary: #ffed99;
$secondary: #f6b8b8;
$accent: #ac66cc;
$accent-2: #3b14a7;
$white: #fefefe;
$black: #272727;
$grey: #e4e4e4;
$dark-grey: #ccc;
$red: #f55d42;
$green: #48d982;

// Shadows
$shadow-1: 0px 0px 15px 4px rgba(0, 0, 0, 0.15);
$shadow-2: 0px 2px 4px 4px rgba(0, 0, 0, 0.1);
$shadow-3: 0px 0px 15px 4px rgba(0, 0, 0, 0.06);
$shadow-low: 0px 0px 4px 0px rgba(0, 0, 0, 0.08);

:root {
	--primary: #{$primary};
	--secondary: #{$secondary};
	--accent: #{$accent};
	--accent-2: #{$accent-2};
	--white: #{$white};
	--black: #{$black};
	--grey: #{$grey};
	--dark-grey: #{$dark-grey};
	--error: #{$red};
	--success: #{$green};

	--shadow-1: #{$shadow-1};
	--shadow-2: #{$shadow-2};
	--shadow-3: #{$shadow-3};
	--shadow-low: #{$shadow-low};
}
